<div class="jumbotron">
  <h1>Jerry!</h1>
  <p class="lead">
    <img src="images/face.png" alt="I'm Jerry"><br>
    Hung-Chieh Huang.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">jerryhung1022@gmail.com<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="profile">
  <h4>Qualifications</h4>
  <ul>
    <li><p>
      More than 3 years in Software Development in cloud computing and web
    </p></li>
    <li><p>
      1 year in Firmware Development in RAID subsystem
    </p></li>
    <li><p>
      Experienced in large scale website planning and design/ web activity planning
    </p></li>
    <li><p>
      Strong communication and interpersonal skills, cross-­‐team collaboration
    </p></li>
    <li><p>
      Knowing Agile/Scrum
    </p></li>
  </ul>

  <h4>Contact Me</h4>
  

</div>
